.NavigationBar {
  padding: 20px 0px;
  position: fixed;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #fdfdfd;
  box-shadow: 0px 1px 20px 0 rgb(0 0 0 / 10%);
  background-color: white;
  height: 20px;

  &__Content {
    position: absolute;
    width: 60%;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;

    &__Links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        padding: 0px 20px;
      }

      a:hover {
        transition: color 0.2s ease-in-out;
        color: rgba(#00d3ad, 0.8);
      }
    }
  }
}
