@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Roboto";
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  font-stretch: normal;
  font-style: normal;
  padding: 0;
  margin: 0;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

button {
  cursor: pointer;
}
